.card-body {
  cursor: pointer;
}

.gameCard {
  margin-top: 1rem;
}

/* Scale up the box */
.gameCard:hover {
  transform: scale(1.1, 1.1);
}

/* Fade in the pseudo-element with the bigger shadow */
.gameCard:hover::after {
  opacity: 1;
}